.beliefs-list {
    margin: 3em;
    backdrop-filter: brightness(95%);
    border-radius: 20px;
    box-shadow: 5px 5px#8E0505;
    padding: 1em;
    list-style: none;
}
.beliefs-bg {
    height: 200vh;
    
}