.bg-image
{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    margin-left: 0;
    top: 0;
    z-index: -1;
}
.greetings
{
    margin-top: 6vh;
    background-color: #F3EDC8;
}
.greetings h1{
    font-size: 500%;
}
.greetings p {
    font-size: 300%;
}
.title
{
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    color: black;
    width: auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;

}
.name
{
    margin-bottom: 0.5em;
}
